<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>CoinMarketCap - Visualizer</title>
  </head>
  <body>
    <form action='/search' method='post'>
      <label for='currency'>Currencies to convert from</label>
      <select name='currency'>
        {% for currency in currencies %}
          <option value='{{ currency }}'>{{ currency }}</option>
        {% endfor %}
      </select>
      <input type='submit' value='Go'>
    </form>
    <p>Currency: {{ currency }}</p>
    <p>Cryptocurrency Name: {{ crypto_name }}</p>
    <p>Price: {{ price }}</p>
    <p>Market Cap: {{ market_cap }}</p>
    <p>24 Hour Volume: {{ volume_24h }}</p>
    <p>Last Updated: {{ last_updated }}</p>
  </body>
</html>